h1 {
    font-weight: 100;
    font-size: 4em;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: darkgray;
}

.title {
    padding: 20px;
    background-color: white;
}

.circle {
    max-width: 90%;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    background-color: darkgray;
}

.item {
    /* margin: 0 25px 0 25px; */
    justify-self: center;
    align-self: center;
    margin: 25px;
}