h1 {
    font-weight: 100;
    font-size: 4em;
}

.circle {
    max-width: 50%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.channel {
    background-color:gainsboro;
    padding-top: 5em;
    height: 100vh;
}