h1 {
    font-weight: 100;
    font-size: 4em;
}

.circle {
    max-width: 100%;
}

.channel {
    background-color: darkgray;
    padding-top: 5em;
    height: 100vh;
}

.box {
    display: flex;
    justify-content: space-evenly;
}

.item {
    margin: 0 15px 0 15px;
}